<section>
  <div class="container mt-2">
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="mini-stat clearfix bg-facebook rounded">
            <span class="mini-stat-icon">
              <!-- <i class="bi bi-people-fill fg-facebook"></i> -->
              <!-- <i class="bi bi-person-vcard"></i> -->
              <!-- <i class="bi bi-people"></i> -->
              <i class="bi bi-person-plus"></i>
            </span>
            <div class="mini-stat-info text-end">
              <span>{{ stats?.totalCustomers }}</span>
              Total Customers
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="mini-stat clearfix bg-googleplus rounded">
            <span class="mini-stat-icon">
              <!-- <i class="bi bi-receipt-cutoff fg-googleplus"></i> -->
              <i class="bi bi-receipt"></i>
            </span>
            <div class="mini-stat-info text-end">
              <span>{{ stats?.totalInvoices }}</span>
              Total Invoices
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="mini-stat clearfix bg-twitter rounded">
            <span class="mini-stat-icon">
              <i class="bi bi-currency-dollar fg-twitter"></i
              ></span>
            <div class="mini-stat-info text-end">
              <span>${{ stats?.totalBill }}</span>
              Total Billed
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
