<section *ngIf="loginState$ | async as state" [ngSwitch]="state.dataState">
    <div *ngIf="!state.loginSuccess && !state.usingMfa">
        <div class="row justify-content-center my-5">
            <div class="col-md-5" style="margin-top: 50px">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h2>
                                <i style="margin-right: 5px" class="bi bi-safe"></i>Invoice
                                Management
                            </h2>
                            <h5 class="card-title mt-4 mb-5">Account Login</h5>
                        </div>
                        <div *ngIf="state.dataState === DataState.ERROR"
                            class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                            role="alert">
                            {{ state.error }}
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email Address</label>
                                <input [disabled]="state.dataState === DataState.LOADING" ngModel type="email"
                                    name="email" class="form-control" required />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="password" class="form-label">Password</label>
                                <input [disabled]="state.dataState === DataState.LOADING" ngModel type="password"
                                    name="password" class="form-control" required />
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <button [disabled]="state.dataState === DataState.LOADING || loginForm.invalid"
                                    type=" submit" class="btn btn-primary btn-login">
                                    <span *ngSwitch="DataState.LOADING" class="spinner-border spinner-border-sm"
                                        role="status" aria-hidden="true" style="margin-right: 5px"></span>

                                    <span *ngIf="state.dataState !== DataState.LOADING">Log in</span>
                                    <span *ngIf="state.dataState === DataState.LOADING">Connecting ...</span>

                                </button>
                            </div>
                        </form>
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <a [ngStyle]="{
                                  'pointer-events':
                                    state.dataState === DataState.LOADING ? 'none' : ''
                                }" routerLink="/register">Create an Account</a>
                            </div>
                            <div class="col">
                                <a [ngStyle]="{
                                  'pointer-events':
                                    state.dataState === DataState.LOADING ? 'none' : ''
                                }" routerLink="/reset-password">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="state.usingMfa" class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-6" style="margin-top: 50px">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h2>
                                <i style="margin-right: 5px" class="bi bi-safe"></i>Gestion des factures
                            </h2>
                            <h5 class="card-title mt-4 mb-4">
                                Verification Code Sent To ... {{state.phone!.slice(0,4)}}
                                *****
                                {{ state.phone!.slice(-2) }}
                            </h5>
                            <i class="bi bi-check-circle-fill" style="font-size: 30px; color: green"></i>
                            <p class="mt-2" style="font-size: 20px">
                                Please access your SMS and enter the code.
                            </p>
                        </div>
                        <div *ngIf="state.dataState === DataState.ERROR"
                            class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                            role="alert">
                            {{ state.error }}
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                        <form #verifyCodeForm="ngForm" (ngSubmit)="verifyCode(verifyCodeForm)">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="code">Verirfication Code</label>
                                <input [disabled]="state.dataState === DataState.LOADING" ngModel type="text"
                                    name="code" class="form-control" required />
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <button [disabled]="
                        state.dataState === DataState.LOADING ||
                        verifyCodeForm.invalid ||
                        verifyCodeForm.pristine
                      " type="submit" class="btn btn-primary">
                                    <span *ngIf="state.dataState === DataState.LOADING"
                                        class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                        style="margin-right: 5px"></span>
                                    <span *ngIf="state.dataState === DataState.LOADING">Loading...</span>
                                    <span *ngIf="!(state.dataState === DataState.LOADING)">Verify Code</span>
                                </button>
                            </div>
                        </form>
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <a class="links" (click)="loginPage()">Account Login</a>
                            </div>
                            <div class="col">
                                <a class="links" [routerLink]="['/register']">Create an account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>